<header style="background-color: rgb(158, 158, 209);" class="navbar navbar-dark bg-info navbar-expand  " >
    <div class="navbar-nav-scroll" style="width: 40%;">
      <a class="navbar-brand" routerLink='/'>Inicio</a>
      <a class="navbar-brand" routerLink='/login'>Login</a>
      <a class="navbar-brand" routerLink='/alta'>Registrarse</a>
      <a class="navbar-brand" routerLink='/home'>Usuario</a>  
      
      <a *ngIf="logeado">{{user.email}}</a>
      <button  class="btn btn-secondary" *ngIf="logeado" (click)="cerrar()">Cerrar sesión</button>
      
     
      
      <!--img src="{{}}" alt="1rem"-->
    </div>

   
    
    
      
   
  </header>
