.card{
border-radius: 3rem;
background-color: rgba(0, 0, 255, 0.452);
border:0.5rem solid black;
width: 30rem;
display: flex; 
flex-direction: column; 
justify-content: space-between;
text-align: center;
}